h1{
    font-family: Monoton;
    font-size: 20px;
    margin: 0.2em;
}
*{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
}
table,tr,td{
  border: 1px solid black;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
}
tr{
    height: 20px;
}
td{
    width: 20px;
}

input[type=number] {
    width: 6em;
}
